body{
	color: black;
	font-size: 16px;
	font-family: Arial;
	background-color: white; 
	
}
.page{
	max-width: 85%;
	margin: 1.5em auto 0.7em auto;
	
}
.block{
	margin: 3em 0 0px 0;
	padding:0.5em 1.2em 0.5em 1.2em;
	background-color: rgba(0,0,0,0.1);
	text-align: center;
}
#logo{
	text-align: left;
	position: absolute;
}
#logo img{

	height: 12vh;
}
h1{
	font-size: 7em;
	margin-top: 1em;
	font-weight: BOLDER;
}
nav{
	text-align: right;
}
li{
	display: inline-block;
}
li a{
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(50,50,50);
	margin: 0px 2em 0 2em;
	font-size: 1.1em;
	padding: 1em 0em 0em 0em;
}
li a:hover{
	color: black;
	border-bottom: 2px solid green;
}
.comp{
	height: 1050px;
}
code{
	font-size: 30vw%;
	position: relative;
	top: 20vh;
	margin: auto;
}
#comp0{
	height: 0px;
}
#comp0 img{
	width: 60%;
}
#comp1{
	height: 400px;
}
#comp1 img{
	z-index: 2;
	top: 370px;
	position: relative;
}
#comp2{
	height: 400px;
}
#comp2 img{
	top: -30px;
	position: relative;
}
header.secscreen {
	position: relative;
	font-size: 11vh;
}
span.secscreen{
	text-decoration: none;
	color: rgb(0,0,0);
	font-size: 2em;
}
span.secscreen:hover {
	text-decoration: underline;
	font-weight: bolder;
	color: black;
	font-size: 210%;
}
.tagline p span{
	line-height: 0.5em;
}
footer.secscreen {
	font-size: 9vh;
}
footer.secscreen p.royal{
	line-height: 0.5em;
	font-size: 0.5em;
	margin-top: -2em;
}
p.playing{
	font-size: 1.4em;
	margin-top: 1em;
	margin-bottom: -2.3em;
	line-height: 1em;
}
#myimage{
	width: 500px;
}
@media screen and (max-width: 800px){
	#myimage{
		max-width: 100%;
	}
	footer.secscreen {
		font-size: 10vw;
	}
	header.secscreen{
		font-size: 10vw;
	}
	#logo img{
	height: 10vw;
	margin-bottom: 1em
	}
	h1{
	font-size: 5em;
	margin-top: 1em;
	font-weight: 600;
	}
}
figure{
	position: center;
}
